.listitem {
    display: flex;
    flex-direction: column;
    margin: 15px;
    color: white;
    text-align: center;
}

.userbox {
    border: solid 1px #1F8EF1;
    border-radius: 5px;
    height: 220px;
    width: 125px;
}

.photo {
    margin-top: 10px;
}

.username {
    font: 25px sans-serif;
    text-align: center;
    margin-top: 15px;
}

.personalInfo {
    font: 15px sans-serif;
}