/* Users component */

.userpro {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: sans-serif;
    font-size: 27px;
    padding-left: 30px;
    /* padding-right: 30px; */
}

.title {
    padding: 25px 0 20px 0;
}

.users {
    display: flex;
}

.users>div {
    border: solid 1px dodgerblue;
    border-radius: 5px;
    margin: 15px;
    height: 150px;
    width: 125px;
}

.userbox {
    display: flex;
    flex-direction: column;
}