.linechart {
    background-color: #525F7F;
}

.dot,
.mouseover,
.mouseout {
    fill: #BA54F5;
}

.line {
    fill: none;
    stroke: #BA54F5;
    stroke-width: 3;
}

.tooltip {
    position: absolute;
    text-align: center;
    width: 80px;
    height: auto;
    padding: 2px;
    font: 15px sans-serif;
    background: #fff;
    border: 0px;
    border-radius: 5px;
    pointer-events: none;
}