.dot,
.mouseover,
.mouseout {
    fill: #1F8EF1;
}

.line {
    fill: none;
    stroke: #1F8EF1;
    stroke-width: 4;
}

.tooltip-line {
    position: absolute;
    text-align: left;
    z-index: 10;
    width: 100px;
    height: auto;
    padding: 10px;
    font: 18px sans-serif;
    background-color: #212529;
    color: white;
    border-radius: 5px;
    pointer-events: none;
}