.PerformanceSheet {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: sans-serif;
    padding-left: 30px;
    padding-bottom: 30px;
    background-color: #1E1E2F;
    border-radius: 10px;
    height: 100%;
}

.title {
    font-size: 27px;
}

.mylinechart {
    margin: 30px;
}