.user-list {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    color: white;
    font-family: sans-serif;
    padding-left: 30px;
    background-color: #1E1E2F;
    border-radius: 10px;
    height: 100%;
}

.user {
    list-style: none;
}

.user:hover {
    background-color: silver;
}

.user:active {
    background-color: rgb(231, 230, 230);
}