.item-list {
    display: flex;
    flex-direction: row;
    height: auto;
}

.item-list>span {
    width: calc(100% - 35px);
    word-wrap: break-word;
    word-break: break-all;
    vertical-align: middle;
}

.delete {
    text-align: center;
    font-size: 27px;
    vertical-align: middle;
}

.items {
    list-style: none;
    padding-left: 0;
    width: 95%;
    min-width: 305px;
}

.items li {
    color: white;
    background-color: #1F8EF1;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    list-style: none;
    transition: background-color .2s ease-out;
}

.items li:hover {
    background-color: #0066FF;
    cursor: pointer;
}

ul.items {
    padding: 0;
}