/* Main Page */

.flex-container {
    display: flex;
    background-color: #272C3A;
    min-height: 100vh;
}

.sider {
    width: 300px;
    margin-top: 60px;
    margin-left: 30px;
    flex: none;
    /* position: fixed; */
}

.content {
    flex: 1;
    background-color: #1E1E2F;
    border-radius: 10px;
    margin-top: 60px;
    margin-right: 100px;
}