/* Main Page */

.main {
    display: flex;
    overflow: hidden;
    min-height: 100vh;
}

.sider {
    width: 300px;
    flex: none;
    z-index: 1;
}

.content {
    width: 100%;
    flex: 1;
    margin: 60px 100px 50px 20px;
    z-index: 1;
}