.message-list {
    padding: 20px 0;
    height: 100%;
    max-height: 567px;
    width: 100%;
    list-style: none;
    padding-left: 0;
    flex-grow: 1;
    overflow: auto;
}

.Messages-message {
    display: flex;
    margin-top: 10px;
}

.Messages-message.currentMember {
    flex-direction: row-reverse;
    text-align: right;
}

.Message-content {
    display: inline-block;
}

.currentMember>.Message-content {
    align-items: flex-end;
}

.Messages-message>.avatar {
    height: 48px;
    width: 42px;
    border-radius: 5px;
    display: inline-block;
    margin: 0 10px -10px;
}

.Message-content>.membername {
    display: block;
    color: grey;
    font: 14px sans-serif;
    padding-bottom: 4px;
}

.Message-content>.text {
    padding: 10px;
    max-width: 400px;
    word-wrap: break-word;
    height: auto;
    border-radius: 12px;
    background-color: #1F8EF1;
    color: white;
    display: inline-block;
}