.messagebox {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-width: 630px;
    max-height: 712px;
    height: 100%;
    border-radius: 15px;
}

.chatlist {
    height: 100%;
    width: 250px;
    border: 1px solid white;
}

.chatbox {
    display: flex;
    flex-direction: column;
    width: calc(100% - 250px);
    border: 1px solid white;
    height: 100%;
}

.messageList {
    height: 80%;
}

.messageinput {
    height: 20%;
}